:root {
  --colorDark: rgb(35, 35, 35);
  --colorWhite: rgb(233, 233, 233);
  --mainColor: rgb(29, 72, 128);
  --secondaryColor: rgb(206, 102, 53);
  --bgBlack: rgb(0, 0, 0);
  --borderGray: rgb(44, 44, 44);
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgBlack);
}

body {
  padding: 0;
  margin: 0;
}

.journal_header {
  position: relative;
  background-color: var(--mainColor);
  color: var(--colorWhite);
  font-family: "Lobster";
  padding: 1rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal_header::after {
  content: "";
  width: 100%;
  height: 1rem;
  background-color: rgb(187, 27, 48);
  position: absolute;
  bottom: -1rem;
}

.journal_header > h1 {
  font-size: 3rem;
}

.journal_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--mainColor);
  color: var(--colorWhite);
  font-family: "Oswalld";
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.journal_footer::before {
  content: "";
  width: 100%;
  height: 2rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: -2rem;
  backdrop-filter: blur(2px);
}

.journal_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal_footer > p {
  padding: 0;
  margin: 0;
}
